.message {
  border-left: 1px solid #c0bebe;
  padding: 2.5rem 0 0 2rem;
  height: auto;
}

.message > img {
  min-width: 37.5rem;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

@media (max-width: 950px) {
  .message {
    border: none;
    padding-left: 0;

    max-width: var(--max-width);
    padding: 1rem var(--padding);
    margin: 0 auto;
  }

  .message > img {
    min-width: 18.75rem;
  }
}
