.billingDetails {
  width: 100%;
  max-width: 29.375rem;
}

.header {
  margin: 0 0 3rem 0;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.errorMessage {
  color: #ff0000;
  font-size: 1rem;
  margin-top: 2rem;
}
