.contentWrapper {
  max-width: var(--max-width);
  padding: 0 var(--padding);
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.heading {
  margin: 0;
}

.paragraph {
  margin: 0;
}

.formWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.5rem 0;

  color: rgba(0, 0, 0, 0.4);

  font-family: inherit;

  font-size: 1rem;

  width: 20rem;
}

.input:focus {
  outline: none;
}

.logInBtn {
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  padding: 1rem 0;
  color: white;
  background: #db4444;

  font-size: 1rem;
}

.error {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;

  background: white;
  color: red;
  border-radius: 0.25rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.success {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;

  background: white;
  color: green;
  border-radius: 0.25rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.noAccountWrapper {
  text-align: center;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.noAccount {
  color: rgba(0, 0, 0, 0.7);
}

.signup {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
