.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.priceSummary {
  margin-top: 2rem;
}

.priceSummaryItem {
  display: flex;
  justify-content: space-between;

  border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
  padding: 1rem 0;
}

.placeOrder {
  width: 190px;
  height: 56px;

  margin-top: 2rem;

  border: none;
  border-radius: 0.25rem;

  background: #db4444;
  color: #fafafa;

  font-weight: 500;
  font-size: 1rem;

  cursor: pointer;
}
