.contentWrapper {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  padding: 0 var(--padding);
  margin: 0 auto 4rem auto;
}

@media (max-width: 950px) {
  .contentWrapper {
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 0;
    margin: 0 auto 2rem auto;
  }
}
