.row {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  grid-column-gap: 1.5rem;
  padding: 1.5rem 2.5rem;

  box-shadow: 0 0 2px 0 rgba(164, 163, 163, 1);
  border-radius: 0.25rem;
}

.row > div {
  display: flex;
  align-items: center;
}

.imgProductNameWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  position: relative;
}

.deleteFromCart {
  position: absolute;
  background-color: #db4444;
  color: white;
  top: -0.5rem;
  left: -0.5rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  cursor: pointer;
  user-select: none;

  visibility: hidden;
}

.show {
  visibility: visible;
}

.imgWrapper {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgWrapper > img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}

.quantityInput {
  width: 40px;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  outline: none;
}
